[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Mikulshh
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mikulshh
	label-Verified = -1..+1 group user/Mikulshh
	push = group user/Mikulshh
	read = group user/Mikulshh
	rebase = group user/Mikulshh
	removeReviewer = group user/Mikulshh
	submit = group user/Mikulshh
[access "refs/heads/*"]
	create = group user/Mikulshh
	push = +force group user/Mikulshh
	pushMerge = group user/Mikulshh
	read = group user/Mikulshh
[access "refs/tags/*"]
	push = group user/Mikulshh
	push = +force group user/Mikulshh
